<h1>Clientes:</h1>
<div class="card">
    <div class="card-body">
        <a class="btn btn-success" href="Cliente/cad">Cadastrar novo cliente</a>
        <table class="table table-striped mt-4">
            <tr>
                <th scope="col">id</th>
                <th scope="col">nome</th>
                <th scope="col">end</th>
                <th scope="col">fone</th>
                <th scope="col">celular</th>
                <th scope="col">cpf</th>
                <th scope="col">cnpj</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            {{#each clientes}}
                <tr>
                    <th scope="row">{{dataValues.id}}</th>
                    <td>{{dataValues.nome}}</td>
                    <td>{{dataValues.end}}</td>
                    <td>{{dataValues.fone}}</td>
                    <td>{{dataValues.celular}}</td>
                    <td>{{dataValues.cpf}}</td>
                    <td>{{dataValues.cnpj}}</td>
                    <td><a class="btn btn-success" href="#">Editar</a></td>
                    <td><a class="btn btn-danger" href="delete/Cliente/{{dataValues.id}}">Deletar</a></td>
                </tr>
            {{/each}}
            
        </table>
    </div>
</div>