<h1>Obras:</h1>
<div class="card">
    <div class="card-body">
        <a class="btn btn-success" href="Obra/cad">Cadastrar nova Obra</a>
        <div class="table-responsive">
            <table class="table table-striped mt-4">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">end</th>
                    <th scope="col">bairro</th>
                    <th scope="col">cidade</th>
                    <th scope="col">estado</th>
                    <th scope="col">metragem</th>
                    <th scope="col">wc</th>
                    <th scope="col">infraestrutura</th>
                    <th scope="col">garagem</th>
                    <th scope="col">andar</th>
                    <th scope="col">edificio</th>
                    <th scope="col">situacao</th>
                    <th scope="col">dataInicio</th>
                    <th scope="col">dataTermino</th>
                    <th scope="col">observacao</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                {{#each obras}}
                    <tr>
                        <th scope="row">{{dataValues.id}}</th>
                        <td>{{dataValues.end}}</td>
                        <td>{{dataValues.bairro}}</td>
                        <td>{{dataValues.cidade}}</td>
                        <td>{{dataValues.estado}}</td>
                        <td>{{dataValues.metragem}}</td>
                        <td>{{dataValues.wc}}</td>
                        <td>{{dataValues.infraestrutura}}</td>
                        <td>{{dataValues.garagem}}</td>
                        <td>{{dataValues.andar}}</td>
                        <td>{{dataValues.edificio}}</td>
                        <td>{{dataValues.situacao}}</td>
                        <td>{{dateFormat dataValues.dataInicio}}</td>
                        <td>{{dateFormat dataValues.dataTermino}}</td>
                        <td>{{dataValues.observacao}}</td>
                        <td><a class="btn btn-success" href="#">Editar</a></td>
                        <td><a class="btn btn-danger" href="delete/Obra/{{dataValues.id}}">Deletar</a></td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>
</div>